* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.bodi .nav li ul a{
  flex-direction: column;
  justify-content: space-between;
  align-content: start;
  z-index: 999;
  overflow-y: none;
  flex-wrap: nowrap;
  padding-left: 0px;
  padding-right: 0px;
  border:solid white 1px;
  border-left: 0px;
  border-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  
  
}
.bodi .nav li ul{
  border: solid white;
  border-top: none;
}

.nav {
  background-color:blue;
  width: 100%;
  z-index: 999;
  display:inline-flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction:row ;
  flex-wrap: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content:space-between;
  border-bottom: none; 
  overflow: none;
  
}
li a{
  color: white;
  overflow-y: none;
}
.footer h4{
  color: white;
  
}
.footer p{
  color: white;
}

.nav a {
  text-decoration: none;
  color: white;
  z-index: 999;
  padding: 15px 20px;
  display: inline-flex;
  flex-direction: row;
  z-index: 9999;
  justify-content: space-between;
  flex-wrap: nowrap;

  
}

.imagen_wsp{
  border-radius: 100%;
  align-items:start;
}
.menu {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: rgb(0, 81, 255);
  padding-left: 0px;
  overflow-y: none;
  flex-direction: column;
  flex-wrap: nowrap;
}

.nav li ul a:hover {
  align-items: space-evenly;
  background-color: blue;
}

.nav li:hover > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.logo {
  display: flex;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  justify-items: flex-start;
}

.bodi {
  background-color: blue;
  z-index: 1;
  overflow-y: auto;
  margin-top: 0;
  padding: 0;
  width: 100%;
  justify-content:space-between ;
  position: absolute;
}

.animate__animated.animate__headShake {
  --animate-duration: 2s;
}

.button {
  margin-right:50px ;
  padding: 0%;
 
}
/*pantallas pequeñas hasta 600px */
@media screen and (max-width: 600px) {
 
  .bodi {
    font-size: 22px;
    justify-content: center;
    border-left:none ;
    border-right: none;
    width: 100%;
  }
  .carrusel {
    border-left: solid white;
    border-right: solid white;
    border-radius: 1%;
    border-left:none ;
    border-right: none;
  }
  
}
/* pantallas medianas (entre 601px y 1024px de ancho) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .bodi {
    font-size: 22px;
    justify-content: center;
    border-left:none ;
    border-right: none;
    width: 100%;
  }
  .carrusel {
    border-left: solid white;
    border-right: solid white;
    border-radius: 1%;
    border-left:none ;
    border-right: none;
  }
  
}

/*  pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
 
  .bodi {
    font-size: 16px;
    width: 100%;
    align-items: center;
    margin: 0px;
  }
  .carrusel {
    
    border-left:none ;
    border-right: none;
  }
}
 .footer{
  color: beige;
  border: solid white;
  border-top: none;
  position:absolute;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: blue;
  z-index: 1;
  border-top: solid white;
  white-space: 100%;
  
}
.footer a{
  color: white;
}
h4 {
  border: solid white;
  border-left: none;
  border-right: none;
 
}

button {
  width: 200px;
}

.letras {
  border: solid white;
  text-decoration: none;
  border-left: none;
  border-right: none;
}
.mapa_sitio {
  border: solid white;
  border-left: none;
  border-right: none;
}
.nuestro_cursos {
  border: solid white;
  border-left: none;
  border-right: none;
}
.logo_footer {
  border-radius: 100%;
}
.pie {
  border: solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* para pantallas medianas */
 
  .imagen_wsp2 {
    font-size: 14px;
    width: 30px;
    
    justify-content: space-between;
  }
}
/* pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
  
  .imagen_wsp2 {
    font-size: 14px;
    width: 30px;
   
    justify-content: space-between;
  }
}
@media screen and (max-width: 600px) {
  /*  para pantallas pequeñas */
  
  .imagen_wsp2 {
    font-size: 14px;
    width: 30px;
    
    justify-content: space-between;
  }
}
.imagen_wsp{
  justify-content:space-between;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  width: 5px;

}
.imagen_wsp2{
  justify-content: space-between;
 
  
}
@media screen and (max-width: 600px) {
  /* para pantallas pequeñas */
  .footer {
    font-size: 14px;
    justify-content: space-between;
    border-left:none ;
    border-right: none;

  }
  
}
/*  pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
  .footer {
    font-size: 18px;
    justify-content: space-between;
    position: absolute;
    border-left:none ;
    border-right: none;
    width: 100%;
  }
  
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  /*  para pantallas medianas */
  .footer {
    font-size: 16px;
    justify-content: space-between;
    position: absolute;
    border-left:none ;
    border-right: none;
    width: 100%;
  }
  
  
  
}

span{
color: white;

}
label{
  color: white;
}
.letras{
  color: rgb(11, 240, 228);
  text-decoration: none;
  flex-direction: row;
  border: none;
}

h2{
  color: white;
}

.contactos{
  display: inline-flex;
  flex-direction: row;
}

/*  pantallas grandes (más de 1024px de ancho) */
@media screen and (min-width: 1025px) {
  .nav{
    border-left:none ;
    border-right: none;
     
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /*  para pantallas medianas */
  .nav{
    border-left:none ;
    border-right: none;
    
  }
}

.color_fondo{
  background-image: url(imagenfondo.avif);
  background-size: cover;
  display: flex;
  height: 100%;
  
}

.integrantes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 100%;
  
}

.integrantes img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 15%;
  height: 15%;
  padding-right: 0px;
  border-radius: 100%;
  

} 
.integrantes p{
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-wrap: nowrap;
  padding-right: 0px;
  padding-left: 5px;
}
@media screen and (max-width: 600px) {
  /* para pantallas pequeñas */
  .integrantes p{
    font-size: 16px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /*  para pantallas medianas */
  .integrantes p{
    font-size: 16px;
    
    
  }
}
.Nosotros{
  background-color: blue;
  margin-bottom: 30px;
  justify-content: space-between;
  width: 100%;
}
.Nosotros p { 
  color:white;
  padding-top: 10px ;
  padding-bottom:10px ;
}
.Nosotros h2{
  color:white;
  padding-top: 10px ;
  padding-bottom:10px ;
}
#facebook_icon{
  border-radius: 100%;
  width: 50px;
  
}
#instagram_icon{
  border-radius: 100%;
  width: 50px;
}

.letras1 .letras{
  justify-content: center;
  display:flex;
  align-items: center;
  flex-direction: column;

}

.letras1 p{
  justify-content: center;
  display:flex;
  align-items: center;
  flex-direction: column;
  color: aqua;
}

#boton_inicio{
  
  background-color: rgb(3, 3, 133);

}
.check{
  margin: none;
}
.sesion{
  color: aqua;
  justify-content: center;
}
.parrafo{
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  /* para pantallas pequeñas */
 .integrantes{
  display: flex;
  flex-direction: column;

 }
  
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /*  para pantallas medianas */
  .integrantes{
    display: flex;
    flex-direction: column;

  }
  
  
  
}